.page-header {
    color: white;
    font-size: 80px;
    margin-top: 150px;
    font-family: 'Raleway', sans-serif;
    border-bottom: none;
}

.page-subheader {
    color: white;
    font-size: 30px;
}