.about-background {
    background-image: url("../../assets/images/minimal-plant.jpeg");
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    padding: 0;
    z-index: -1;
}

.about-cover {
    background-color: rgb(77, 75, 75, 0.5);
    height: 100vh;
}

.about-text {
    color: white;
    font-size: 20px;
}