.card {
    border-radius: 5px;
    display: flex; 
    flex-direction: row;
}

.card-img {
    order: -1;
}

.card-body {
    padding: 10px;
    height: 230px;
    order: 0;
}

.card-title {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    margin: 15px;
    font-weight: bold;
}

.card-text {
    font-size: 15px;
    margin: 15px;
}