.card {
    border-radius: 5px;
}

.card-body {
    padding: 10px;
    height: 250px;
}

.card-title {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
}

.card-text {
    font-size: 15px;
    margin: 15px;
}