.navbar {
    height: 60px;
    background-color: rgb(44, 44, 44);
    border-radius: 0;
}

/* .fa-pagelines {
    font-size: 50px;
    color: white;
    height: 100px;
    width: 100px;
} */

.navbar-brand {
    color: white;
    font-size: 30px;
}

.navlink {
    color: white;
    margin: 10px 10px 10px 10px;
}

.nav-tabs {
    border-bottom: none;
    margin-top: 15px;
}

.fa-search {
    color: white;
}

.search-form {
    float: right;
    margin-right: 30px;
}



/* .search-btn {
    background-color: red;
    float: right;
} */