.navbar {
    height: 60px;
    background-color: rgb(44, 44, 44);
    border-radius: 0;
    position: fixed;
    width: 100%;
}

.navbar-brand {
    color: white;
    font-size: 40px;
    margin: 18px 18px 17px 40px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
}

.navlink {
    color: white;
    margin: 10px 15px 10px 15px;
}

.navlink:hover {
    color: rgb(122, 202, 202);
    text-decoration: none;
}

.nav-tabs {
    border-bottom: none;
    margin-top: 18px;
}