.portfolio-background {
    /* background-color: rgb(59, 59, 59); */
    background-color: rgb(209, 208, 207);
    top: 0;
    margin: 0;
    width: 100vw;
    height: auto;
    padding-right: 100px;
    padding-left: 100px;
    z-index: -1;
}